<div class="tw">
  <div class="grid grid-cols-4 flex-row bg-purple-700 p-50 text-3xl">
    <h2 x-data="{message: 'Hello world!'}" x-text="message">Hello 1</h2>
    <h2>Hello 2</h2>
    <h2>Hello 3</h2>
    <h2>Hello 4</h2>
  </div>
</div>
